body {
    color: #000000;
    background-color: #ffffff;
    font-family: "reg-font";
    font-size: 16px;
}

@font-face {
    font-family: "reg-font";
    src: url(Squad-Regular.ttf) format(truetype);
}

@font-face {
    font-family: "arabic-trad";
    src: url(trado.ttf) format(truetype);
}

@font-face {
    font-family: "head-font";
    src: url(AbrilFatface-Regular.ttf) format(truetype);
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin: auto;
}

.headtxt {
    width: 420px;
}

h1 {
    font-family: "head-font";
    text-align: center;
}

.headtxt h1 a {
    font-size: 42px;
    text-decoration: none;
    color: #000000;
}

nav {
    display: block;
    width: 800px;
    margin-left: 150px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}

nav a {
    display: inline-block;
    color: #000000;
    padding-left: 40px;
    font-weight: bold;
    text-decoration: none;
}

.aboutme {
    width: 700px;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.projects {
    width: 800px;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin: auto;
}

.projects-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.project-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-img {
    display: block;
    margin: auto;
}

.project-title {
    text-align: center;
}

.project-text {
    text-align: center;
}

.project-link {
    display: block;
    text-align: center;
}

a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    header {
        width: 600px;
    }

    nav {
        width: 600px;
        margin-left: 50px;
    }

    nav a {
        padding-left: 20px;
    }
}

@media screen and (max-width: 850px) {
    .projects {
        width: 450px;
    }

    .projects-container {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    header {
        display: block;
    }

    .headtxt {
        width: fit-content;
        margin: auto;
    }

    nav {
        margin-left: 0;
    }

    .arabictxt {
        text-align: center;
        font-family: "arabic-trad";
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.arabictxt {
    font-family: "arabic-trad";
    font-size: 2em;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}